{% extends 'cefs/base.html' %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/chapter_list.css' type="text/css" %}">
{% endblock %}

{% block content %}

	<div class="theNavBar">
		<div class="titleHeader">
			<p class='schoolTitle'>Christ Embassy Foundation School</p>
		</div>
	</div>
	<div class="classContainer">
	{% for chapter in chapters %}
	<a href="{% url 'course:subchapter_list' pk=chapter.pk %}">
		<div class="classes">
			<h2>
				 Class {{ chapter.pk }}: {{ chapter.title }}
			</h2>
		</div>
	</a>

	{% endfor %}
	</div>

{% endblock %}
